/* General styling */ 
body {
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 0 5%;
  background-color: #383B38;
  color: #F8F8F8;
}

h1, h2, h3, h4 {
  color: #FCF6B1;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

a {
  display: block;
  color: #F8F8F8;
}

a:hover, a:focus {
  color: #C5CCD3;
}

li {
  list-style: none;
  display: inline-block;
  padding: 1%;
}

/* Text colors */
.blue-text {
  color: #4ABDAC;
}

.yellow-text {
  color: #FCF6B1; 
}

/* Thumbnail box styling */
.thumbnail {
  background-color: #575353;
  border-radius: 0.5em;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header styling */
#header {
  max-width: 100%;
  overflow-x: hidden;
}

hr {
  margin-bottom: 1%;
}

#topContactsbiopic {
  margin-left: 25px;
  margin-right: 25px;
}

/* styling for bio picture */
.biopic {
  border-radius: 0.5em;
  margin-top: 20px;
  float: left;
}

/* styling for top contacts */
#topContacts {
  float: left;
  margin-top: 15px;
}

.aOverRide {
  display: inline; /* to override anchor tag from displaying on a new line due to display:block; */
}

.contactItem {
  padding: 10px;
}

.flex-item {
  display: block; /*to display each item in topContacts on a new line */
}

/* styling for skills section */
.skillsList {
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
}

/*Glyphicon styling*/
.glyphicon {
  margin: 5px;
}

/* Date and location text styling */
.date-text {
  font-style: italic;
  color: #F2A541;
  float: left;
}

.location-text {
  float: right;
}

/* Online education section styling */
.onlineHeader {
  font-style: italic;
}

/* Map section styling */
#mapDiv {
  padding-bottom: 25px;
}

#map {
  display: block;
  height: 400px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1.5%;
}

/* Footer section styling */
.connectHeader {
  background-color: #4ABDAC;
  padding: 10px;
}

.social-media-footer {
  color: #F8F8F8;
}

/* return to top style */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* Media queries */
@media screen and (max-width: 992px) {
  #skills-h3 {
    margin-top: 15px;
    padding: 5px;
  }
}

@media screen and (max-width: 633px) {
  .biopic {
    float: none;
    margin: 0 auto;
    margin-top: 20px;
  }
  #topContacts {
    padding: 0;
    float: none;
    text-align: center;
  }
}

@media screen and (max-width: 442px) {
  #map {
    height: 200px;
  }

  #mapDiv {
    padding-bottom: 15px;
  }

  .location-text {
    float: left;
  }

  .skillsList {
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}